[Unit]
Description=checkip

[Service]
Type=oneshot

ExecStart=/bin/bash /usr/local/aloe/scripts/checkIP.sh
TimeoutStartSec=infinity
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
