[Unit]
Description=DisplayWebPage Service
PartOf=aloe_checkip.service
After=ophrys_signage.service

[Service]
Environment=XAUTHORITY=/home/pi/.Xauthority
User=pi
ExecStart=/bin/bash /usr/local/aloe/scripts/displaywebpagescript.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Ophrys_DisplayWebPage
Restart=on-failure

[Install]
WantedBy=aloe_checkip.service
