* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.3;
    color: #000000;
}

body {
    font: 16px/1.3 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    background: #ffffff;
}

h1, h2, h3 {
    font-weight: 400;
}

pre {
    white-space: nowrap;
}

.code {
    font-family: 'Courier New', Courier, monospace;
}

form {
    padding: 1vh 1vw;
    width: 100%;
}

form label {
    padding: 6px 0;
    margin: 0;
    display: block;
    width: 100%;
    line-height: 2;
    font-weight: bold;
}

form label i {
    font-weight: normal;
}

form input {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    border: 0;
    width: 100%;
    border-radius: 0.3vh;
    box-shadow: 5px 5px 20px 0px #d6d6d6;
    outline: none;
    border: 2px solid #636363;
}

form input:hover, form input:focus {
    background: #f1f1f1;
    color:#000000;
}

form input:disabled {
    color: #a0a0a0;
    cursor: default;
    background-color: #cecece;
    border-color: #ccccc4;
}

form button {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    background: #009688;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 20px 0px #d6d6d6;
    outline: none;
}

.button {
    position: relative;
    background: #3369ff;
    border: 0;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    color: lighten(#3369ff, 50%);
    margin: 4px 0 6px 0;
    padding: 11px 18px;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.button--action {
    background: #ff6b33;
}

.button--nav {
    background: #33ffa3;
    color: #000;
    width: 100%;
}

.button span {
    color: #fff;
    position: relative;
    z-index: 1;
}

.button::before {
    content: '';
    position: absolute;
    background: darken(#3369ff, 40%);
    border: 50vh solid darken(#3369ff, 20%);
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: block;
    top: 50%;
    left: 50%;
    z-index: 0;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
}

.button:hover {
    background-color: #2450cc;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.button--action:hover {
    background-color: #e66230;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.button:active,
.button:focus .button::before {

}

.button:focus {
    outline: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding: 1vh 2vw;
    word-wrap: break-word;
}

ul li:nth-child(odd) {
    background: #eee;
}

.logo-text {
    display: inline-block;
    font-size: 3rem;
    color: #4a4a4a;
    font-weight: 300;
    padding-left: 0.1em;
}

svg.logo-icon {
    width: 20vw;
    height: 20vw;
    max-width: 170px;
    max-height: 170px;
}

.container, .header {
    margin: 0 auto;
    padding: 1vh 1vw;
    width: 80vw;
    max-width:900px;
}

.header {
    padding: 3vh 1.5vw 0 1.5vw;
}

.content {
    padding: 1vh 0 2vh 0;
}

.content--no-padding {
    padding: 0;
}

@media (max-width: 520px) {
    .container, .header {
        margin: 5vw auto;
        padding: 0;
        width: 90vw;
    }

    .content {
        padding: 0.5vh 0.2vw;
    }
}

.navigation {
    padding: 0.2vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #e1e1e1;
}

.navigation a.current {
    color: #000000;
    text-decoration: none;
    background: unset;
}

.navigation a {
    padding: 1vh 0 1vh 0;
    color: #200f96;
    text-decoration: underline;
    flex: 1 1 auto;
    text-align: center;
    background: #d8deff;
    border-radius: 6px 6px 0 0;
}

.navigation a:hover {
    text-decoration: underline;
    color: #1e00f8;
    background: unset;
}

.status--current-url {
    padding: 0.2vh 1vw;
}

.status--identification, .status--hardware, .status--window, .status--clock, .status--link {
    font-size: 18px;
    padding: 0.2vh 1vw;
    border-top: 2px solid #f7f7f7;
}

.status--current-url {
    font-weight: 100;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    font-size: 24px;
}

.status--current-url:after, .status--identification:after {
    content: '';
    word-wrap:break-word;
}

#logo-image {
    width: 75vw;
    max-width: 500px;
}

#logo-image path {
    fill: #000000;
}

#flare path {
    fill: rgba(255,255,255,0);
}

.status-socket-connected .status-socket {
    animation: socket-connected-2 1s ease infinite;
}

.status-socket-disconnected .status-socket {
    animation: socket-disconnected-2 1s ease infinite;
}

.status-socket-connected .status-socket:nth-child(2), .status-socket-disconnected .status-socket:nth-child(2) {
    animation-delay: 0.3s;
}

@keyframes socket-connected {
    0% {
        transform: scale(1.0);
        stroke: #69d069;
    }
    100% {
        transform: scale(1.1);
        stroke: rgba(255,255,255,0);
    }
}

@keyframes socket-disconnected {
    0% {
        transform: scale(1.0);
        stroke: #CB2402;
    }
    100% {
        transform: scale(1.1);
        stroke: rgba(255,255,255,0);
    }
}

@keyframes socket-connected-2 {
    0% {
        fill: #69d069;
    }
    100% {
        fill: rgba(255,255,255,0);
    }
}

@keyframes socket-disconnected-2 {
    0% {
        fill: #CB2402;
    }
    100% {
        fill: rgba(255,255,255,0);
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: block;
    width: 64px;
    height: 38px;
    -webkit-tap-highlight-color: transparent;
}

.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid #636363;
    border-radius: 34px;
    box-shadow: 5px 5px 20px 0px #d6d6d6;
}

.slider:active, .slider:hover, .slider:focus {
    background-color: #eaeaea;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    box-sizing: border-box;
    background-color: #636363;
    border: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #3369ff;
    border-color: #2a57d5;
}

input:checked + .slider:before {
    background-color: #ffffff;
    border-color: #ffffff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #3369ff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider-active.slider {
    background-color: #3369ff;
    box-shadow: 0 0 1px #3369ff;
}

.slider-active.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Radiobutton - box around it */
.radiobtn-box {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 0;
    display: inline-block;
    width: unset;
}

.ui-form--label label {
    display: inline-block;
    width: unset;
    margin: 0;
    padding: 0;
    line-height: 1;
    vertical-align: middle;
    outline: none;
}

.radio-label {
    padding-left: 10px !important;
    font-weight: normal;
}

.radiobtn-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radiobtn-check {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 38px;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid #636363;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
    box-shadow: 5px 5px 20px 0px #d6d6d6;
}

.radiobtn-check:before {
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiobtn-box:hover input ~ .radiobtn-check {
    background-color: #eaeaea;
}

.radiobtn-box:focus input ~ .radiobtn-check {
    background-color: #eaeaea;
}

/* Checked confirmation */
.radiobtn-box--confirmed input ~ .radiobtn-check {
    background-color: #3c99fd;
    animation: selected-rotation-animation 1s ease-in infinite;
}

@keyframes selected-rotation-animation {
    0% {
        background-color: #3c99fd;
    }
    50% {
        background-color: #cbe4ff;
    }
    100% {
        background-color: #3c99fd;
    }
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn-check:after {
    content: "";
    position: absolute;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

/* Show the indicator (dot/circle) when checked */
.radiobtn-box input:checked ~ .radiobtn-check:after {
    display: block;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.radiobtn-box input:checked ~ .radiobtn-check {
    background-color: #3369ff;
    border-color: #2a57d5;
    animation: unset;
}

/* Disabled */
.radiobtn-box input:checked:disabled ~ .radiobtn-check {
    color: rgb(84, 84, 84);
    cursor: default;
    background-color: #efefef;
    border-color: #ccccc4;
}

.radiobtn-box input:disabled ~ .radiobtn-check {
    color: rgb(84, 84, 84);
    cursor: default;
    background-color: #efefef;
    border-color: #ccccc4;
}

/* Style the indicator (dot/circle) */
.radiobtn-box .radiobtn-check:after {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 0;
}

/* Conditional styles */
.feature--remote-config {

}

.feature--remote-config--show {

}

.feature--local-config {

}

.feature--local-config--show {

}

.feature--field-info {
    color: #909090;
}

.feature--remote-config-info {
    display: none;
}

.feature--remote-config-info--show {
    display: block;
}

.feature--local-config-info {
    display: none;
}

.feature--local-config-info--show {
    display: block;
}

/* TV test bar */
.tv-bar {
    display:flex;
    flex-direction: row;
    height: 2vh;
    max-height: 26px;
    width: 100%;
}

.tv-bar-item {
    flex: 1 1 auto;
}

.tv-bar-color-1 {
    background-color: #f8f800;
}

.tv-bar-color-2 {
    background-color: #00f8f8;
}

.tv-bar-color-3 {
    background-color: #00f800;
}

.tv-bar-color-4 {
    background-color: #f800f8;
}

.tv-bar-color-5 {
    background-color: #f80000;
}

.tv-bar-color-6 {
    background-color: #0000f8;
}

.tv-bar-color-7 {
    background-color: #bababa;
}

.tv-bar-color-8 {
    background-color: #000000;
}

/* Loading */
#pagefader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: #000000;
    animation-duration: 1300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

#pagefader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#pagefader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}